/* Pavian style sheet */


/* no top border for boxes without status */
.box {
    border-top: none;
}

.box.box-primary {
    border-top: 3px solid #3c8dbc;
}

/* Make the header of tab-boxes bold */
.nav-tabs-custom>.nav-tabs>li>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
    font-weight: bold;
}

/* Make the DT buttons look better (smaller) */
button.dt-button, div.dt-button, a.dt-button {
    padding: 2px 4px !important;
    border: 1px solid #ccc !important;
}

button.dt-button:hover, div.dt-button:hover, a.dt-button:hover {
  border: 1px solid #666 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 2px 4px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border: 1px solid #ccc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 1px solid #666 !important;
}

/* custom styles */

.name-link {
  white-space: nowrap;
}

.underlineOnHover:hover {
  text-decoration: underline !important;
}

.lessPadding {
  padding-right: 5px;
  padding-left: 5px;
}

.lessMargin > .form-group {
  margin-bottom: 0px;
}

.lessMargin > div > div > .checkbox, .lessMargin > div > div > .radio {
  margin-top: 5px;
  margin-bottom: 5px;
}

.lessMargin > div > div > .selectize-control {
  margin-bottom: 0px;
}

.lineheight1 {
  line-height: 1;
}
